node_modules
.idea
static/*.jpg
static/games/games.html
static/google/facebook.html
static/google/instagram.html
static/google/linkedin.html
static/google/twitter.html
static/hacker/hack.txt
static/hacker/hack.html
static/*.png
static/movies/page.html
app.json
package.json
package-lock.json
Procfile
yarn.lock